API_ID= 10062103
API_HASH= 55fc4e612aae5f1a6852230dd41ed4af
BOT_TOKEN= 5759505638:AAGj2gvRuvEhIgt8erAGU5_oJT6XRXuIlOQ
OWNER_ID= 1600234284
MONGO_DB_URI= mongodb+srv://sarcasticboy:sarcasticboy505@cluster0.bv22u.mongodb.net/?retryWrites=true&w=majority
LOG_GROUP_ID= -1001523603001
MUSIC_BOT_NAME= testing
STRING_SESSION= BAAPuqGc10TGN-T9nuUfaR5sM1DXtV8dcGLrn5ncbgJrjyYGGH8PpIc5GzRk19hvBjKa6nZXlOfbAcO23BC1qEsAjR69NOyQU0L3MGQqCvphjwjdobuaicEniV0x9-LpZGtzumcxKFNnR34oLmNj1VjJPg_ssqK0KCWxi-u7HNMVVbuRzfHC3_t_3mzN2oXa7bVmc9S5i6WJHqgNsIiZaNrk_slv58rO3FOO8TfXjYdp5Xodt7CK9qhy0toNMSWVnkAIkdeZgup2xAWgrFv6XgW1bhAx1y_6ExCvmAHkyNsyDYcjMystmTJWTf3u_RE9h7OywfAQD1eQwd794FYtji43AAAAAUWJrvUA
